@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

.header nav {
    position: fixed;
    top: 8px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
}

.header nav:before {
    content: "";
    background-color: var(--background-color);
    position: fixed;
    top: 8px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: -1;
}

.header nav ul {
    display: none;
    background-color: #fff;
    padding: 20px;
}

.header nav ul li a {
    font-size: 30px;
    font-weight: 500;
    border-radius: 50px;
    transition: 0.3s;
    text-align: center;
    display: block;
    padding: 20px;
}

.header nav ul li a:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
}

.header .menu {
    width: 60px;
    height: 60px;
    align-self: flex-end;
    cursor: pointer;

}

.header nav label {
    display: flex;
    flex-direction: column;
}

.header .hamburguer {
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before, 
.header .hamburguer:after {
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.hamburguer:before {
    top:-10px;
}

.hamburguer:after {
    bottom: -10px;
}

.header input {
    display: none;
}

.header input:checked ~ ul {
    display: block;
}

.header input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}
.header input:checked ~ label .hamburguer:before {
    top: 0;
    transform: rotate(90deg);
}

.header input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.hero {
    width: 100%;
    height: 95vh;
    background: url(../image/hero.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: -1;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #141414;
    opacity: 0.5;
}

.container-hero {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.hero .main-text {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 3px 1px 3px var(--secondary-color);
    line-height: 3.5rem;
}

.lawyers {
    color: #fff;
    text-shadow: 0 0 7px #000;
}

.initial-description {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    width: 550px;
    text-shadow: 0 0 3px #000;
    font-size: 20px;
}

.services {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--background-color);
}

.white-logo {
    width: 400px;
}

.services-title {
    font-size: 50px;
    color: var(--primary-color);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 100px;
}

.service-item {
    width: 375px;
    height: 450px;
    background-color: var(--primary-color);
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.service-title {
    font-size: 22px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.service-description {
    font-size: 18px;
}

.professional-info {
    display: flex;
    justify-content: center;
    gap: 170px;
    padding: 100px;
    background-color: var(--secondary-color);
}

.professional-image {
    border-radius: 12px;
}

.professional-info .info {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
}

.professional-info .info .info-text {
    max-width: 500px;
}

.contact {
    background-color: var(--background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 70px 0;
}

.contact-logo {
    border-radius: 30px;
}

.contact-now {
    font-size: 30px;
}

.contact-buttons {
    display: flex;
    gap: 25px;
}

.contact-link {
    border-radius: 25px;
}

.contact-buttons .media-button {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: var(--secondary-color);
    font-size: 18px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    color: #fff;
}

.contact-buttons .media-button:hover {
    transform: scale(110%);
}

.whatsapp {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 12.5px;
    bottom: 30px;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
}

.whatsapp:hover {
    right: 9px;
    bottom: 27.5px;
    font-size: 40px;
}

.whatsapp-link {
    align-self: flex-end;
    border-radius: 50%;
}

.container-whatsapp {
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    transition: 0.2s ease-in-out;
}

.container-whatsapp:hover {
    width: 65px;
    height: 65px;
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    min-height: 50px;
    gap: 100px;
    padding: 70px 0;
    color: #fff;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media .media-link {
    font-size: 25px;
    color: #fff;
}

.social-media .media-item:hover {
    transform: scale(120%);
}

.location {
    display: flex;
    gap: 20px;
    align-items: center;
}

.map {
    width: 300px;
    height: 120px;
}

.location-text {
    width: 300px;
}